export(fullnames,
       PlotSolarRadiation,
       FractionalRadiation,
       TemperatureAtDepth,
       TemperatureAtDepths,
       HourlyAirTemperature
       )


# Import all packages listed as Imports or Depends
import(
  flaker,
  oce
)
